services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - ./beszel_data:/beszel_data
      - ./beszel_socket:/beszel_socket
    # environment:
    #   - APP_URL=https://${TAILNET}/beszel
    labels:
      homepage.group: Monitoring
      homepage.name: Beszel
      homepage.description: Server Monitoring
      homepage.icon: beszel.png
      homepage.href: http://${TAILNET}:8090
      # homepage.href: https://${TAILNET}/beszel
      traefik.enable: 'true'
      traefik.http.routers.beszel.entrypoints: 'web,web-secure'
      traefik.http.routers.beszel.rule:
        Host(`${TAILNET}`) && PathPrefix(`/beszel`)
      traefik.http.middlewares.strip-beszel.stripprefix.prefixes: /beszel
      traefik.http.routers.beszel.middlewares: strip-beszel@docker
      traefik.http.routers.beszel.tls: 'true'
      traefik.http.routers.beszel.tls.certresolver: vpnresolver
      # - "traefik.enable=true"
      # - "traefik.http.routers.beszel.entrypoints=web,websecure"
      # - "traefik.http.routers.beszel.rule=Host(`beszel.example.com`) && PathPrefix(`/base-path`)"
      # - "traefik.http.middlewares.strip-beszel.stripprefix.prefixes=/base-path"
      # - "traefik.http.routers.beszel.middlewares=strip-beszel@docker"
      # - "traefik.http.routers.beszel.tls=true"
      # - "traefik.http.routers.beszel.tls.certresolver=your-cert-resolver"
      # - "traefik.http.routers.beszel.tls.domains[0].main=beszel.example.com"

  beszel-agent:
    image: henrygd/beszel-agent:latest
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    healthcheck:
      test: ['CMD', '/agent', 'health']
      interval: 120s
    volumes:
      - ./beszel_agent_data:/var/lib/beszel-agent
      - ./beszel_socket:/beszel_socket
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/arr/.beszel:/extra-filesystem/sdb1__Media:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      HUB_URL: http://localhost:8090
      TOKEN: ${B_TOKEN}
      KEY: ${B_KEY}
